<ion-header>
  <ion-toolbar>
    <ion-title>Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-content>
      <ion-list *ngFor="let aux of viaje">
        <ion-item *ngIf="aux.id === id">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Conductor: {{ aux.nombre_usuario }}</ion-card-title>
              <ion-card-subtitle>Km Recorridos: {{ aux.distancia }}</ion-card-subtitle>
              <ion-card-subtitle>Destino: {{ aux.hasta }}</ion-card-subtitle>
              <ion-card-subtitle>Valor: {{ aux.valor }}</ion-card-subtitle>
            </ion-card-header>
            <ion-button expand="block" (click)="agregarPasajero()" color="warning">Unirse al Viaje</ion-button>
            <ion-button expand="block" color="">Unete Con QR</ion-button>
          </ion-card>
        </ion-item>
  </ion-list>
  <ion-list *ngFor="let aux2 of viaje_pasajero">
    <ion-item *ngIf="aux2.id_viaje === id">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pasajero: {{ aux2.nombre }}</ion-card-title>
          <ion-card-subtitle>Recojida: {{ aux2.recojida }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>